<%= provide(:title, "3D-printer stream") %>
<div id="body-middle">
  <h1>Hi Twitch!</h1>
  <div>
    streaming part
  </div>
  <hr />
  <div>
    <p>I recently (Dec. 2020)  bought my first 3D-printer, an Ender 3 from Creality. I'm planning to automatically start a stream when I'm printing something. I'll also list here the models I'll be making, maybe along-side with thingiverse.</p>
    <div class="row">
      <div class="offset-md-1 col-md-3">
      <p>Modifications list:
        <ul class="list-group">
          <li class="list-group-item">roue</li>
          <li class="list-group-item">poignée</li>
          <li class="list-group-item">bed</li>
          <li class="list-group-item">barres</li>
          <li class="list-group-item red">BLTouch</li>
        </ul>
      </p>
      </div>
      <div class="offset-md-4 col-md-3">
      <p>Things list:
        <ul class="list-group">
        </ul>
      </p>
      </div>
    </div>
  </div>
</div>
