<%= provide(:title, "Home") %>
<div id="body-middle">
  <h1>Chocorp</h1>
  <div class="row">
    <p>Ptite page où j'ajouterai mes accomplissements de temps à autre.</p>
    <p>
    <ul class="col-md-3 list-group">
      Liste peu fiable des projets/pages à venir:
      <li class="list-group-item">updating resume</li>
      <li class="list-group-item">3d printer streaming</li>
      <li class="list-group-item">crypto stonks</li>
      <li class="list-group-item">inteam les bros</li>
    </ul>
    </p>
  </div>
</div>

