<%= provide(:title, "Home") %>
<div id="body-middle">
  <h1>chocorp.net</h1>
  <div class="row">
    <a href="https://check-your-website.server-daten.de/?q=chocorp.net" target="_blank">Check https://chocorp.net</a>
  </div>
  <div class="row">
    <a href="https://trello.com/c/0LKMxe5K" target="_blank">chocorp.net Trello board</a>
  </div>
  <div class="row">
    <p>WIP. Please don't mind the remaining French sentences. This webpage is supposed to host my future projects.</p>
    <p>Not reliable list of incoming projects/pages:</p>
    <ul class="col-md-8 list-group">
      <li class="list-group-item">smth nice with open data would be great</li>
      <li class="list-group-item">crypto stonks - symbols tracker/idk yet its just hype</li>
      <li class="list-group-item">I'd love to build smth the community could interact with qnd interqctions would impqct other users...</li>
      <li class="list-group-item">inteam bros</li>
    </ul>
  </div>
</div>

