<%= provide(:title, "Mods") %>
<div id="body-middle">
  <div id="mods">
    <h1>Minecraft Mods</h1>
    <%=
      buffer = []
      for mod in @mods do
        buffer.append(write_mod_page(mod))
      end
      buffer.join("\n").html_safe
    %>
  </div>
</div>
