/*
 *= require_tree .
 *= require_self
 */

header {
    background-color: #4CAF50;
    padding: 1rem;
}

#body-middle {
    width: 60%;
    margin-left: 20%;
    margin-top: 1.5rem;
}

.red {
    color: red;
}

#hamburger {
    border: none;
    box-shadow: none;
}

.external::after {
    content: "🔗";
}
