#mods .responsive-img {
	width: 100%;
	max-width: 100px;
	height: auto;
	border-radius: 2rem;
}

#mods .mod {
	border: 1px solid #ccc;
	border-radius: 2rem;
	margin: 2rem 0;
	padding: 0.4rem;
	
}

#mods .mod > a {
	color: black;
	text-decoration: none;
}

#mods .mod h2 {
	color: #4CAF50;
}

#mods .flex-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#mods .mod-desc span{
	display: none;
}

#mods .mod-desc {
	text-align: center;
}

@media only screen and (min-width: 768px) {
	#mods .flex-center {
		display: initial;
	}
	#mods .mod-desc span {
		display: initial;
	}
	#mods .mod-desc {
		text-align: initial;
	}

}
